<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 게시판</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="sidebar">
        <ul>
            <li><a href="/products/1">상품목록</a></li>
            <li><a href="/questions/1">문의목록</a></li>
            <li><a href="/users/1">회원목록</a></li>
            <li><a href="/notices/1" class="active">공지목록</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="header">
            <h1>공지목록</h1>
            <div class="search">
                <form action="/notices/search" method="get">
                    <input type="text" name="keyword" placeholder="검색">
                    <button type="submit">검색</button>
                </form>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>No.</th>
                <th>공지사항</th>
                <th>시작일자</th>
                <th>종료일자</th>
                <th>등록일자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notice : ${noticeList}">
                <td th:text="${notice.noticeNo}"></td>
                <td class="notice">
                    <a th:href="@{'/notices/details/' + ${notice.noticeNo}}" th:text="${notice.title}"></a>
                </td>
                <td th:text="${#dates.format(notice.startDate, 'yyyy-MM-dd E')}"></td>
                <td th:text="${#dates.format(notice.endDate, 'yyyy-MM-dd E')}"></td>
                <td th:text="${#dates.format(notice.uploadDate, 'yyyy-MM-dd E')}"></td>
            </tr>
            </tbody>
        </table>
        <div>
            <a href="/notices/new" class="btn btn-primary">새 공지 만들기</a>
        </div>
    </div>
</div>
</body>
</html>
